<mat-card style="width: 70%; margin:50px auto">
    <mat-card-header>
        <mat-card-title>Lista Budgets</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <button mat-flat-button color="primary" (click)="add()">Nuevo</button>
        <table mat-table [dataSource]="listBudget" class="mat-elevation-z2" style="margin-top:20px">

            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="monto">
                <th mat-header-cell *matHeaderCellDef> Monto </th>
                <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
              </ng-container>
              <ng-container matColumnDef="fechainicio">
                <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
                <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
              </ng-container>       
              
              <ng-container matColumnDef="accion">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="edit(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="delete(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
              </ng-container>  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>                 
    </mat-card-content>
  </mat-card>
